@page
@model WebApplication1.Pages.Users.LoginModel

@{
    ViewData["Title"] = "Login";
}
<main style="background-image: url('https://res.cloudinary.com/dxmsosoui/image/upload/v1697641274/vhszmrrgkdzdorvq4jxx.png');
                 background-repeat: no-repeat;
                 background-size: cover;
                 background-position: center;
                 width: 100%;
				 opacity: 85%;">
	<br />

	<div class="row" style="padding:20px" >
	<div class="card mx-auto text-center col-lg-5" style="padding:20px;margin:20px; border-radius:20px; opacity:85%; max-height:300px">
		<h2 class="text-center mb-5">Please, enter your data</h2>
		@if (Model.errorMessage.Length > 0)
		{
			<div class='alert alert-warning alert-dismissible fade show' role='alert'>
				<strong>@Model.errorMessage</strong>
				<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
			</div>
		}

		<form method="post">
			<input class="form-control" style="border-radius:20px" asp-for="Email" placeholder="E-mail" />
			<span asp-validation-for="Email" class="text-danger"></span>
			<br />

			<input class="form-control" style="border-radius:20px" type="password" asp-for="Password" placeholder="Password" />
			<span asp-validation-for="Password" class="text-danger"></span>
			<br />

			<div class="row mb-3">
				<div class="col d-grid">
					<button type="submit" class="btn btn-outline-primary" style="border-radius:20px">Login</button>
				</div>
				<div class="col d-grid">
					<a class="btn btn-outline-secondary" href="/" style="border-radius:20px" role="button">Cancel</a>
				</div>
			</div>

		</form>
	</div>

	<br />

	<div class="card col-lg-5 " style="border-radius:20px; opacity:85%; margin:20px; padding:20px">
		<div class="card-body">
			<h2 class="card-title text-center">Don't have an account yet ?</h2>
			<br />
			<br />
			<div class="d-grid">
				<a class="btn btn-outline-primary" style="align-content:center; border-radius:20px" asp-area="" asp-page="/Users/Register">Register now!</a>
			</div>
			<br />
			<br />
			<h5>Reasons to have an account</h5>
			<ul class="list-group-flush list-group">
					<li class="list-group-item" style="">Possibility to borrow a book</li>
					<li class="list-group-item" style="">Possibility to watch your past loans</li>
					<li class="list-group-item" style="">Possibility to set an opinion about book</li>
			</ul>
		</div>
	</div>
</div>

</main>